    <div mat-dialog-content>
        <p>What are you planning to do?</p>
        <mat-form-field appearance="fill">
            <mat-label>To Do</mat-label>
            <input matInput [(ngModel)]="data">
        </mat-form-field>
    </div>
    <div mat-dialog-actions style="display: flex;justify-content: space-between;">
        <button mat-button type = "button" (click)="onNoClick()" >Never Mind</button>
        <button type="submit" mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>    
    </div>
    